.Rproj.user
.Rhistory
.RData
.Ruserdata
/Partner_Step_1/*.Rhistory
/Partner_Step_1/output/*.csv
/1.4_DCC/partner_step_1_out/*.csv
/1.4_DCC/DCC_out/*.csv
/1.4_DCC/.Rhistory
/1.4_DCC/.RData
/1.4_Partner_Step_1/output/**/*.csv
/1.4_Partner/*.RData
